@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 50, 50, 50;
    --background-start-rgb: 240, 240, 240;
    --background-end-rgb: 240, 240, 240;
    --sh-class: #2d5e9d;
    --sh-identifier: #354150;
    --sh-sign: #8996a3;
    --sh-string: #007f7a;
    --sh-keyword: #e02518;
    --sh-comment: #a19595;
    --sh-jsxliterals: #6266d1;
    --sh-property: #e25a1c;
    --sh-entity: #e25a1c;
    --radial-color: 2, 132, 199, 0.5;
}

.dark {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 30, 30, 30;
    --background-end-rgb: 30, 30, 30;
    --radial-color: 2, 132, 199, 0.5;
    --radial-color: #0284c7;
    --sh-class: #4c97f8;
    --sh-identifier: white;
    --sh-keyword: #f47067;
    --sh-string: #0fa295;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 50, 50, 50;
        --background-start-rgb: 240, 240, 240;
        --background-end-rgb: 240, 240, 240;
        --sh-class: #2d5e9d;
        --sh-identifier: #354150;
        --sh-sign: #8996a3;
        --sh-string: #007f7a;
        --sh-keyword: #e02518;
        --sh-comment: #a19595;
        --sh-jsxliterals: #6266d1;
        --sh-property: #e25a1c;
        --sh-entity: #1c99e2;
        --radial-color: 2, 132, 199;
    }

    .dark {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 30, 30, 30;
        --background-end-rgb: 30, 30, 30;
        --radial-color: 2, 132, 199;
        --radial-color: #0284c7;
        --sh-class: #4c97f8;
        --sh-identifier: white;
        --sh-keyword: #c673cf;
        --sh-string: #0fa295;
    }
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

/* rgb(42, 2, 65) */
/* rgb(254, 93, 39) */
/* rgb(188, 253, 85) */
/* rgb(241, 0, 136) */

.about {
    /* @apply bg-gradient-to-r from-black from-50% to-slate200 to-50% dark:from-white dark:to-slate900 dark:from-50% dark:to-50%; */
    border: 1px solid black;
    display: block;
  
    background: linear-gradient(to right, black 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}

.dark .about {
    background: linear-gradient(to right, white 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}

.text-about{
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    transition: all .6s ease-out;
    display: block;
}

.about:hover {
    background-position: left bottom;
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
    /*how to use var in css and application on radial gradient*/
}

.prose .anchor {
    @apply absolute invisible no-underline;

    margin-left: -1em;
    padding-right: 0.5em;
    width: 80%;
    max-width: 700px;
    cursor: pointer;
}

.anchor:hover {
    @apply visible;
}

.prose a {
    @apply transition-all text-black dark:text-white;
}

.prose :where(h1, h2, h3, h4, h5, h6) {
    @apply md:scroll-mt-20 scroll-mt-32;
}

.prose :where(h1, h2, h3, h4, h5, h6):hover {
    @apply underline underline-offset-4;
}

.prose .anchor:after {
    @apply text-black dark:text-white text-center justify-center font-light;
    content: "#";
}

.prose *:hover > .anchor {
    @apply visible;
}

.prose pre {
    @apply bg-slate200 dark:bg-black rounded-lg overflow-x-auto border border-slate200 dark:border-slate900 px-3 py-3 text-sm;
}

.prose code {
    @apply px-1 py-0.5 rounded-lg;
}

.prose pre code {
    @apply p-0;
    line-height: 1.5;
    border: initial;
}

.prose code span {
    @apply font-medium;
}

pre::-webkit-scrollbar {
    display: none;
}

pre {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: thin;
    /* Firefox */
}

.prose p {
    @apply md:text-lg text-base my-4 text-slate800 dark:text-slate200;
}

.prose h1 {
    @apply text-3xl font-bold tracking-tight mt-6 mb-2;
}

.prose h2 {
    @apply text-xl font-bold tracking-tight mt-6 mb-2;
}

.prose h3 {
    @apply text-xl font-bold tracking-tight mt-6 mb-2;
}

.prose h4 {
    @apply text-lg font-bold tracking-tight mt-6 mb-2;
}

.prose strong {
    @apply font-bold;
}

.prose ul {
    @apply list-disc pl-6;
}

.prose ol {
    @apply list-decimal pl-6;
}

.prose li {
    @apply my-2;
}

.prose img {
    @apply mx-auto;
}

.blog-card{
    background: linear-gradient(30deg, #ffffff 50%, #e0e0e0 100%) padding-box;
    border: 3px solid transparent;
}

.blog-card:hover{
    background: linear-gradient(45deg, #ffffff 0%, #e0e0e0 100%) padding-box;
    /* border: 3px solid transparent; */
}

.dark .blog-card{
    background: linear-gradient(30deg, rgba(57, 57, 58, 0.5) 50%, #1c1c1d 100%) padding-box;
    border: 3px solid transparent;
}

.dark .blog-card:hover{
    background: linear-gradient(45deg, rgba(57, 57, 58, 0.8) 0%, #1c1c1d 100%) padding-box;
    border: 3px solid transparent;
}

.input-field-blog{
    background: linear-gradient( 30deg, #ffffff 50%, #e7e7e7 100%) padding-box,
        radial-gradient(ellipse at top left, rgba(2, 132, 199, 0) 10%, #2eb2ff10 50%) border-box,
        radial-gradient(ellipse at bottom right, #0284c710 , rgba(46, 178, 255, 0) 50%) border-box; 
        /* rgb(var(--background-start-rgb)); */
    border: 3px solid transparent;
}

.dark .input-field-blog{
    background: linear-gradient( 30deg, #39393a 0%, #1c1c1d 100%) padding-box,
        radial-gradient(ellipse at bottom left, #0284c740 10%, #2eb2ff10 50%) border-box,
        radial-gradient(ellipse at top right, #0284c740 , #2eb2ff10 50%) border-box;
    border: 3px solid transparent;
}

@media screen and (min-width: 768px){
    .flip-card{
        perspective: 1000px;
    }
    
    .inner-card{
        transform-style: preserve-3d;
        transition: transform 0.5s;
    }
    
    .flip-card:hover .inner-card{
        transform: rotateY(180deg);
    }
    
    .front, .back{
        backface-visibility: hidden;
    }
    
    .front{
        transform: rotateY(0deg);
    }
    
    .back{
        transform: rotateY(180deg);
    }
}

.toc {
    @apply scroll-mt-20;
    text-align: left;
}

.toc:hover {
    text-decoration: underline;
}