@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 50, 50, 50;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

.dark {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 30, 30, 30;
  --background-end-rgb: 30, 30, 30;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 50, 50, 50;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }

  .dark {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 30, 30, 30;
    --background-end-rgb: 30, 30, 30;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

}

/* rgb(42, 2, 65) */
/* rgb(254, 93, 39) */
/* rgb(188, 253, 85) */
/* rgb(241, 0, 136) */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}


.anchor:hover {
  @apply visible;
}

.prose a {
  @apply transition-all underline underline-offset-2 decoration-[0.4em];
}

.prose :where(h1, h2, h3, h4, h5, h6) {
  @apply scroll-mt-32;
}

.prose :where(h1, h2, h3, h4, h5, h6):hover {
  @apply underline underline-offset-4;
}

.prose .anchor:after {
  @apply text-black dark:text-white top-32 -translate-y-1/2 text-center justify-center font-light;
  content: '#';
}

.prose *:hover>.anchor {
  @apply visible;
}
/*
.prose pre {
  @apply bg-neutral-50 dark:bg-neutral-900 rounded-lg overflow-x-auto border border-neutral-200 dark:border-neutral-900;
}

.prose code {
  @apply px-1 py-0.5 rounded-lg;
}

.prose pre code {
  @apply p-0;
  border: initial;
  line-height: 1.5;
}

.prose code span {
  @apply font-medium;
}

.prose img {
  /* Don't apply styles to next/image */
  /* @apply m-0;
} */ 
